body{
  background: url(https://static1.squarespace.com/static/52e1b262e4b06ef060506756/57bc22d9725e25f9d008b59f/5d7a80ff32891970bb9bb4db/1572022964997/Hero.jpg?format=1500w);
}
div{
  background-color: red;
  border-color: blue;
  border-width: 20px;
  border-style: dotted;
}

p{
  color: yellow;
}
span{
  background: black;
}
